body
{
    background-color: salmon;
}
.navbar
{
    background-color: #333;
    overflow: hidden;
}
.navbar a
{
    float: right;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
}
.navbar a:hover
{
    background-color: rgb(4, 94, 34);
    color:  greenyellow;
}
.navbar a.active
{
    background-color: rgb(92, 5, 87) ;
    color:black;
    font-style: bold;
}
.Home
{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    background-image: url(bg4.jpg);
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.Contact
{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    background-image: url(bg4.jpg);
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.About.Us
{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    background-image: url(bg4.jpg);
    margin-bottom: 20px;
    padding-bottom: 10px;
    
}